html {
    font-family: 'Roboto Slab', serif;
    font-size: 1.7rem;
}
a{
    text-decoration: none;
    color: inherit;
}

h2{
    color: #00b9f2;
    display: block;
    font-weight: normal;
}

#services{
    box-sizing: border-box;

    #links{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    a{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    img{
        max-width:80%;
        padding: 10%;
    }
}    

header{
    background-image: url("./img/illuminated-keyboard-1242287.jpg");
    
    nav{
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin: 0;
        padding: 1% 2% 0 2%;
        h1{
            font-size: 2.5rem;
            color: #00b9f2 ;
            margin: 0;
            padding: 0;
            font-weight: normal;
        }

        ul{
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            
           
            li{
                margin: 0.5rem;
                padding: 0;
                align-self: flex-end;
                transition: 0.5s;
            }
            li:hover{
                color: #00b9f2;
                text-decoration: underline;
            }
        }
    }

    h2{
        margin-left: 50%;
        margin-right: 1%;
        .highlight{
            background-color: white;
        }
    }
    button{
        margin-left:50%;
        color: white;
        background-color: #c78d52;
        font-size: 1.2rem;
        font-family: inherit;
        border: none;
        border-radius: 3%;
        padding: 1%;
    }
}
