html {
    font-family: 'Roboto Slab', serif;
    font-size: 1.7rem;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h2{
    color: #00b9f2;
    display: block;
    font-weight: normal;
}

#services{
    box-sizing: border-box;

    #links{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        // padding: 2%;
    }

            

    #yellow{
        background-color:rgb(252, 252, 180);
    }
    #green{
        background-color:rgb(145, 226, 145);
    }
    #blue{
        background-color: rgb(121, 121, 247);
    }

    a{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        margin: 2%;
        padding-top: 4%;
        padding-bottom: 4%;
        border-radius: 3%;
        color: #00b9f2 ;

        img{
            padding-top: 5%;
            max-width:50%;
        }
    }
}    

header{
    background-image: url("./img/illuminated-keyboard-1242287.jpg");
    
    nav{
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin: 0;
        padding: 1% 2% 0 2%;
        h1{
            font-size: 2.5rem;
            color: #00b9f2 ;
            margin: 0;
            padding: 0;
            font-weight: normal;
        }

        ul{
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            
           
            li{
                margin: 0.5rem;
                padding: 0;
                align-self: flex-end;
                transition: 0.5s;
            }
            li:hover{
                color: #00b9f2;
                text-decoration: underline;
            }
        }
    }

    h2{
        margin-left: 50%;
        margin-right: 1%;
        .highlight{
            background-color: white;
        }
    }
    button{
        margin-left:50%;
        color: white;
        background-color: #c78d52;
        font-size: 1.2rem;
        font-family: inherit;
        border: none;
        border-radius: 3%;
        padding: 1%;
        margin-bottom: 3%;
        cursor: pointer;
    }
}

footer{
    background-color: #00b9f2;
    color: white;
    padding: 0 3%;

    nav{
        display: flex;
        justify-content: space-between;

        ul{
            list-style-type: none;
            display: flex;
            justify-content: center;
            li{
                padding-left: 1%;
            }

        }
    }
    p{
        margin-right: 50%;
    }
    
    .small{
        margin:0;
        li:not(nav){
            font-size:0.7rem;
        }
    }
    
    h3{
        font-weight: normal;
        margin:0;
        padding:0;
    }
}
